@import url("./dashboard.scss");
@import url("./navigation.scss");
@import url("./clients.scss");
@import url("./invoice.scss");
@import url("./Accounting.scss");

.layout{

    display: grid;
    grid-template-columns: 250px auto;
    gap: 2.5rem;
    transition: .2s ease;

    &::-webkit-scrollbar {
    display: none;
    }

  }

  @media (max-width: 1200px) {
    .layout{
    display: flex;
    flex-direction: column;
    }
  }